body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
input {
  text-align: center;
  width: 100%;
}
a {
  color: #00B7FF;
}
/* table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */
table {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}